aside {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 700px;
  border: 0.5px solid gray;
  box-shadow: 5px 5px 5px rgb(172, 171, 171);
}

.personal-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

.personal-info > p {
  display: flex;
  align-items: center;
}

h2,
h3 {
  text-align: center;
  padding: 0.25rem;
  border: 1px solid black;
}

.education-section {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

button {
  border: none;
  cursor: pointer;
  background-color: white;
}

ul {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  list-style: none;
  gap: 1.125rem;
  padding-left: 0;
}

.experience-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.name-heading {
  text-align: center;
}

.duties {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 20px;
  white-space: pre-wrap;
  display: flex;
  justify-content: space-between;
}

img {
  height: 25px;
  width: 25px;
  margin-right: 1px;
}

.about {
  white-space: pre-wrap;
}
